{% layout "layout.liquid" %}
{% block content %}

<h1>My Gift List </h1>

{% for gift in gifts %}
<article>
    <h2>
        <a href="/gifts/{{ gift._id }}">{{gift.giftName}} </a>
    </h2>
</article>
{% endfor %}


<div class="page-bottom">
    <a href="/gifts/new"><button>Create a New Gift</button></a>
</div>

{% endblock %}