{% layout "layout.liquid" %}
{% block content %}

<h2>My List:</h2>

{% for gift in gifts %}
<article>
    <ul>
    <li>
        <a href="/gifts/{{ gift._id }}">{{gift.giftName}} </a>
    </li>
    </ul>
</article>
{% endfor %}


<div class="page-bottom">
    <a href="/gifts/new"><button>Create a New Gift</button></a>
</div>
<br>
<a href="/user/logout"><button>Logout</button></a>

{% endblock %}